.about-page{
    background-image: url('https://us.123rf.com/450wm/pitinan/pitinan1908/pitinan190800519/128879284-health-insurance-concept-doctor-in-hospital-with-health-insurance-related-icon-graphic-interface-sho.jpg?ver=6');
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-heading{
    padding-top: 100px;
}

.about-image img{
    height: 500px;
    width: 600px;
}

.about-text{
    padding-top: 80px;
}